:root {
    --dark:#0d1b2a;
    --dark-mid: #1b263b;
    --mid: #415a77;
    --light-mid: #778da9;
    --light: #e0e1dd;
    --white: #eee;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-mid);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.library-container {
    background-color: var(--light);
    border: 1px solid var(--dark);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    border-radius: 50px;
}

.search-bar {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--white);
    text-align: left;
    font-size: large;
}

.search-button {
    background-color: var(--light-mid);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: large;
}

form {
    display: flex;
    flex-direction: row;

    background-color: var(--white);
    border: 1px solid #555;
    padding: 10px;
    border-radius: 50px;
}

.search-button:hover {
    background-color: var(--dark-mid);
}